.CharacterCard {
  margin-bottom: 1.5rem;

  &__img {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: auto;
    max-height: 16rem;
    object-fit: cover;
  }

  &__name {
    margin: 0.75rem 0;
  }

  &__meta {
    display: flex;
    &-item {
      margin-right: 0.5rem;
    }
  }
}
